# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py

# Environment
.env
.env.*
*.env

# VSCode
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Virtual Environment
venv/
env/
ENV/
